.button {
  text-decoration-line: none;
  color: var(--white);
  background-image: linear-gradient(45deg, var(--cyan), var(--blue));
  padding: 1rem;
  border-radius: 25px;
  transition: filter 150ms ease;
  border-color: transparent;

  &:hover {
    filter: brightness(1.2);
  }
}