.accessibility-form {
  display: grid;
  place-content: center;
  grid-template-columns: minmax(min-content, 800px);
  background-image: linear-gradient(transparent 50%, hsl(216, 53%, 9%) 50%);
  
  .accessibility-form__container {
    text-align: center;
    background-color: var(--intro-and-email-bg);
    margin: 1rem;
    display: grid;
    row-gap: 20px;
    padding: 1rem 2rem;
    border-radius: 10px;
  }

  .accessibility-form__title {
    font-size: var(--step-3);
  }

  .accessibility-form__text {
    font-family: 'Open Sans';
    font-size: var(--step-0);
  }

  .accessibility-form__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    font-family: 'Open Sans';
  }

  .accessibility-form__input {
    flex: 10 1 320px;
    border-radius: 25px;
    padding: 1rem;
    box-sizing: border-box;
  }

  .accessibility-form__btn {
    flex: 1 1 max-content;
  }

  .accessibility-form__error {
    color: var(--light-red);
    font-size: var(--step--1);
    flex: 1 0 100%;
  }
}