#root {
  background-color: var(--intro-and-email-bg);
  margin: 0 auto;
  width: clamp(320px, 100%, 1440px);
  min-height: 100vh;
  color: var(--white);
}

.landing-page {
  --heights-hero: 703px;

  display: grid;
  gap: 5rem;
  background-image: linear-gradient(transparent var(--heights-hero), var(--main-bg) var(--heights-hero));
  
  > :first-child {
    background: bottom / contain no-repeat url('./assets/bg-curvy-desktop.svg');
  }
}